:root {
    scroll-behavior: smooth;
}

body {
    margin: 20px auto;
    width: 80vw;
}

.titulo-contrato {
    font-size: 28pt;
    margin: 20px 0;
    font-family: Helvetica, sans-serif;
}

h2.secao {
    font-size: 22pt;
    font-family: Helvetica, sans-serif;
}

div.secao,
div.secao p {
    margin: 20px 0;
}

div.secao p {
    line-height: 1.5;
    text-align: justify;
}

nav {
    margin-left: 20px;
}

nav a {
    text-decoration: none;
    line-height: 1.5;
    color: blue;
}

nav a:visited {
    color: blue;
}

@media screen and (max-width: 600px) {

    div.secao p {
        font-size: 16pt;
    }

    nav a {
        font-size: 16pt;
    }

    .titulo-contrato {
        font-size: 22pt;
    }

    .titulo-contrato,
    h2.secao {
        text-align: center;
    }

    div.secao span {
        text-align: center;
        display: block;
    }

}

@media print {

    @page {
        size: 21.0cm 29.7cm;
        margin: 3cm 2cm 2cm 3cm;
    }

    body {
        margin: 0;
        width: 100%;
    }

    nav,
    div.secao span {
        display: none;
    }

    .titulo-contrato {
        font-size: 18pt;
        text-align: center;
    }

    h2.secao {
        font-size: 14pt;
        font-weight: bold;
    }

    div.secao p {
        font-size: 12pt;
    }

}