:root {
    scroll-behavior: smooth;
}

body {
    margin: 20px auto;
    width: 80vw;
}

.titulo-contrato {
    font-size: 28pt;
    margin: 20px 0;
    font-family: Helvetica, sans-serif;
}

h2.secao {
    font-size: 22pt;
    font-family: Helvetica, sans-serif;
}

div.secao,
div.secao p {
    margin: 20px 0;
}

div.secao p {
    line-height: 1.5;
    text-align: justify;
}

nav {
    margin-left: 20px;
}

nav a {
    text-decoration: none;
    line-height: 1.5;
    color: blue;
}

nav a:visited {
    color: blue;
}
